<h1><%= title %></h1>
<p>Welcome to <%= title %>
<div class="btn-group">
  <button class="btn">Action</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <li><a href="#">a</a></li>
    <li><a hrfe="#">b</a></li>
    <li>c</li>
  </ul>
</div>
<button class="btn">Search!</button>